* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    list-style: none;
    color: inherit;
}

img {
    width: 100%;
    height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

.text-dic {
    color: #432010;
    font-weight: 400px;
    line-height: 20px;
    font-size: 16px;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    top: 0;
    box-shadow: 0 1px 15px rgba(90, 90, 90, 0.2);
}

.logo {
    max-width: 234px;
}

.links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

links li {
    color: #432010;
    cursor: pointer;
    padding: 1px 0;
}

.links li:hover {
    font-weight: bold;

}

/* li::after {
  content: " ";
  position: absolute;
  left: 50%;
  bottom: 0;
} */
.nav-items {
    display: flex;
    justify-content: end;
    gap: 20px;
    align-items: center;
}

.nav-icons {
    font-size: 23px;
    cursor: pointer;
    display: flex;
    gap: 20px;
}

button {
    background: #432010;
    color: #fff;
    padding: 6px 25px;
    border-radius: 24px;
    border: 0;
    font-size: 18px;
    cursor: pointer;
}

svg,
.navbar-sm {
    display: none;
    transition: transform 0.5s ease-in-out;
}

.banner-title {
    padding-top: 62px;

}

.banner-title h1 {
    font-size: 65px;
    color: #432010;
    font-family: "Abril Fatface", serif;
}

.banner-btn button {
    margin-top: 20px;
    padding: 10px 10px;
    align-items: center;

}

.banner-btn .arrow-icon {
    display: flex;
    align-items: center;
    color: #fff;
    height: 35px;
    width: 35px;
    border-radius: 20px;
    justify-content: center;
    margin-left: 20px;
    transition: 0.3s ease-out;

}

.banner-btn button:hover .arrow-icon {
    transform: rotate(-36deg);
    color: #432010;
    background: #fff;

}

.banner-rate {
    display: flex;
    margin-top: 30px;
    gap: 80px;
}

.counter_number {
    display: flex;
}

.banner-Reviews .plus {
    font-family: "Secular One", sans-serif;
    font-size: 50px;
    color: #DDB772;
}

.banner-Reviews span {
    color: #432010;
    font-family: "Secular One", sans-serif;
    font-size: 50px;
}

.services-title {
    padding-top: 100px;

}

.services-title h1 {
    font-family: Poppins;
    font-size: 48px;
    text-align: center;
    line-height: 20px;
    font-weight: 500;
    color: #432010;
}

.services-img {
    width: 295px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

.services-dic p {
    font-family: Poppins;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    color: #432010;
    max-width: 695px;
    margin: 0 auto;
}

.services-box {

    border-radius: 20px;
    margin-top: 30px;
    background-color: #fff;
    padding: 22px;
}

.position {
    position: relative;
}

.banner-img {
    position: absolute;
    /* left: -94px; */
    right: -101px;
    top: 0;
}

.banner-text {
    position: absolute;
    top: 120px;
    right: -83px;
    max-width: 290px;
}

.services {
    position: relative;
}

.services-bg {

    position: absolute;
    width: 100%;
    top: -80px;
    z-index: -1;
}

.services-types {
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    width: 120px;
    padding-top: 12px;
}

.services-text h3 {
    color: #432010;
    font-family: Poppins;
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
    margin: 0 auto;
}

.services-text-dic p {
    color: #432010;
    font-family: Poppins;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    padding-top: 10px;
    margin: 0 auto;

}

.services-link {
    color: #BF9C7A;
    font-family: Poppins;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    padding-top: 10px;
    margin: 0 auto;
}

.services-link i {
    margin-left: 10px;
}

.coffee {
    /* position: relative; */
}

.items {
    padding-top: 20px;
}

.items h1 {
    color: #432010;
    text-align: center;
    font-size: 48px;
    font-family: poppins;
}

.items p {
    color: #432010;
    text-align: center;
    font-size: 16px;
    font-family: poppins;
    max-width: 421px;
    margin: 0 auto;
    padding-top: 10px;
}

.items-box {
    background-color: #DDB77233;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    margin-top: 50px;
}

.item-cards img {
    border-radius: 20px 20px 0px 0px;
    height: 300px;
}

.items-dic {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.items-name {
    color: #432010;
    font-size: 16px;
    font-family: poppins;
    text-align: start;
    padding: 16px;
}

.item-rel {
    display: flex;
    justify-content: center;
}

.item-btn {
    position: absolute;
    bottom: -15px;

}

.items-price p {
    font-size: 18px;
    text-align: end;
    font-family: "Inter", sans-serif;
    padding: 16px;
}


.testomonials {
    background-color: #fff4e4;
    margin-top: 50px;
    padding-bottom: 40px;
}

.carousel-control-next, .carousel-control-prev {
    align-items: center !important;
    justify-content: center !important;
    width: 15% !important;
    padding: 0 !important;
    color: #fff !important;
    text-align: center !important;
    background: 0 0 !important;
    border: 0 !important;
    opacity: .5 !important;
    transition: opacity .15s ease !important;
    position: relative;
    display: contents;
  
}
.carousel-control-next-icon, .carousel-control-prev-icon {
	display: inline-block ;
	width: 2rem;
	height: 2rem;
	background-repeat: no-repeat;
	/* background-position: 52%; */
	/* background-size: 99% 100%; */
	/* max-width: 400px; */
	/* background-color: black; */
	/* position: absolute; */
	/* top: 469px; */
	justify-content: center;
    background-color: aqua;
}
.carousel-control-prev-icon {
	background-image: url("/img/right-arrow.png");
}
.carousel-control-next-icon{
    background-image: url(img/arrow5.png);
}
.carousel-control-next-icon, .carousel-control-prev-icon button{
    background-color: transparent;
    padding: 3px 9px;
    border-radius: 10px;
    border: 1px solid #DDB772;
}

.testomonials-title {
    color: #432010;
    font-size: 48px;
    font-family: Poppins;
    text-align: center;
    padding-top: 20px;
}

.testomonials-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.testomonials-img{
    max-width: 65px;
}
.testomonials-text p {
    max-width: 493px;
    font-style: italic;
    font-size: 28px;
}
.testomonials-user h5{
    color: #432010;
    font-family: "Signika", sans-serif;
font-size: 30px;
font-weight: 500;
padding-left: 20px;
padding-top: 20px;
}
.social-media-img {
    background-image: url(/img/image56.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 66px;
}

.media-img {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
}

.media-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 30px;
}

.social-media-icon {
    max-width: 40px;
    transform: rotateY(360deg); 
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.social-media-icon img:hover {
    max-width: 40px;
    transform: rotateY(180deg); 
    transition: 1s;
    } 


.footer-color {
    background-color: #1B0B04;

}

.about-footer {
    color: #fff;
}

.footer-text {
    color: #fff;
    display: flex;
    padding-top: 20px;
}

.footer-text p {
    color: #fff;
    padding-left: 12px;
}

.footer-text i {
    color: #fff;
    padding-top: 3px;
}

.footer-link ul {
    color: #fff;
    list-style: none;

}

.footer-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-link ul li {
    color: #fff;

}
.border-copy{
    border-top: 2px solid #3d302a;
    margin-top: 26px;

}
.copyright{
color: #fff;
padding-top: 4px;
opacity: 60%;
font-size: 13px;

}
.copyright p{
text-align: start;
}
.copyright-text{
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding-top: 4px;
    opacity: 60%;
    font-size: 13px;
}

@media (max-width: 500px) {

    .signup,
    .links {
        display: none;
    }

    svg {
        display: block;
        cursor: pointer;
    }

    .navbar-sm.show {
        display: block;
        transition: transform 0.5s ease-in-out;
    }

    .navbar-sm {
        padding: 20px 0 20px 0;
        background: #f3f7fb;
        box-shadow: 0 15px 8px rgba(208, 207, 207, 0.2);
        transition: transform 0.5s ease-in-out;
    }

    .navbar-sm>ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .svg2 {
        display: none;
    }

    .svg2.show {
        display: block;
    }

    .svg1 {
        display: block;
    }

    .svg1.show {
        display: none;
    }
}